scratch/
*.gs


x-insight-tracker/node_modules/
x-insight-tracker/.env
x-insight-tracker/.DS_Store
x-insight-tracker/*.log
x-account-watcher/node_modules/
x-account-watcher/.env
x-account-watcher/.DS_Store
x-account-watcher/*.log
x-account-watcher/watcher.db

.chrome_profile/
.DS_Store

